<footer>
  <div id="contact-container">
    <h2>Socials and Contact:</h2>
    <a href="https://www.linkedin.com/in/zgildo01/">LinkedIn</a>
    <a href="https://github.com/zgildo01/Music-Shelf">GitHub</a>
    <p>zzaragozagildo@gmail.com</p>
  </div>
  <h1 id="copyright">©Zeus Zaragoza-Gildo</h1>
</footer>


</body>
</html>