<footer>
  <div id="contact-container">
    <h2 id="soc-contact">Socials and Contact:</h2>
    <div id="footer-a">
    <a href="https://www.linkedin.com/in/zgildo01/">LinkedIn</a>
    <a href="https://github.com/zgildo01/Music-Shelf">GitHub</a>
    </div>
    <h2>zzaragozagildo@gmail.com</h2>
  </div>
  <h1 id="footer-title">Music Shelf</h1>
  <h2 id="copyright">©Zeus Zaragoza-Gildo</h2>
</footer>


</body>
</html>