  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <div id="google-logout">
        <img 
        src="../images/logout-fren.gif"
        alt="sad ascii wave"
        />
        <a href="/auth/logout">
          <button type="submit">Logout</button>
        </a>
    </div>
    <% } else { %>
      <div id="google-login">
        <img 
        src="../public/images/login-fren.gif"
        alt="friendly ascii wave"
        />
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin right"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      </div>
    <% } %>
    <a>
      Add Album
    </a>
    <a>
      View Profile
    </a>
    <a>
      View Users
    </a>
  </nav>
