  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div id="nav-logo">
      <img 
      src="/images/8-bit-record.png" 
      alt="8-bit vinyl record"
      id="record"
      >
      <h1>Music Shelf</h1>
    </div>
    <% if (user) { %>
      <div id="google-logout">
        <img 
        src="/images/logout-fren.gif"
        alt="sad ascii wave"
        id="logout-fren"
        />
        <a href="/auth/logout">
          <button type="submit" class="button-17" role="button">Logout</button>
        </a>
    </div>
    <a 
    href="/profiles/<%= user.profile._id %>/albums/new"
    class="nav-anchors"
    >
      Add Album
    </a>
    <a
    href="/profiles/<%= user?.profile._id %>"
    class="nav-anchors"
    >
      View Profile
    </a>
    <% } else { %>
      <div id="google-login">
        <img 
        src="/images/login-fren.gif"
        alt="friendly ascii wave"
        id="login-fren"
        />
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin right"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      </div>
    <% } %>
    <a
    href="/profiles/"
    class="nav-anchors"
    >
      View Users
    </a>
  </nav>
