main {
  font-family: 'Roboto', sans-serif;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#profile-img {
  margin-top: 5rem;
}

#no-albums {
  margin-top: 10rem;
}

table {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}