<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <div id="welcome">
    <h2>Welcome to</h2>
    <h1>Music Shelf</h1>
  </div>
  <h2 id="about">Put your music taste on the shelf</h2>
</main>

<%- include('./partials/footer') %>
