html {
  box-sizing: border-box;
  height: 100%;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #01cdfe;
  color: #fffb96;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
}

nav {
  background-color: #ff71ce;
  color: #fffb96;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  max-height: 70px;
  min-height: 60px;
  position: fixed;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../images/neat-background.png");
  background-position: center;
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-container {
  display: flex;
  flex-direction: column;
}

#google-login {
  display: flex;
  flex-direction: column;
}

#google-logout {
  display: flex;
  flex-direction: column;
}

#copyright {
  display: flex;
  align-items: center
}