#new-song {
  margin-top: 10rem;
  text-align: center;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
  margin-top: 10rem;
  justify-content: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

.button-1 {
  background-color: #ff71ce;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff845;
  cursor: pointer;
  font-family: 'DotGothic16', sans-serif;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  outline: none;
  text-align: center;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}